<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Détails du Locataire</title>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/detailsStyle.css')}}">
	</head>
	<body>
        <div class="box">
            <nav class="navbar">
                <div class="container">
                    <a href="#" class="lead" onclick="history.back()"><i class="fa fa-arrow-left" style="font-size: 22px;"></i> RETOUR</a>
                </div>
            </nav>

			{% if Error %}  
        		<p class="error" style="top: 45px;"><strong>Erreur</strong>: {{Error}}</p>  
    		{% endif %} 
    		<div class="formbox" style="height:310px; width:580px; left:calc(50% - 290px); top:calc(50% - 155px)">
    			<h1>Veuillez Remplir les Détails</h1>
    			<form action="{{ url_for('alreadyTenant') }}" method="post">
    				<p>Nom d'utilisateur : 
    				<input type="email" name="Username" placeholder="Entrez votre e-mail" required/></p>
    				<p>Numéro d'appartement : 
    				<input type="number" name="aptNo" placeholder="  Exemple : 152" required min=3/></p>
    				<input type="submit" value="Soumettre"><br>
    			</form>
    		</div>
    	</div>

    </body>
</html>
